DOTENV_PUBLIC_KEY=replace_with_public_key
DOTENV_PRIVATE_KEY=replace_with_private_key
DB_USER=replace_with_user
DB_PASSWORD=replace_with_password
DB_SERVER=127.0.0.1
DB_DATABASE=replace_with_database
DB_PORT=1433
PORT=3000